<div class="row justify-content-md align-content-center text-center py-3">
    <h3>
        Experience.
    </h3>
    <div class="col col-md-4">
        <p>
            Languages:
        </p>
        <p>
            PHP, HTML/CSS/JS, Python, C#, .NET, SQL.
        </p>
    </div>
    <div class="col col-md-4">
        <p>
            Tecnologies:
        </p>
        <p>
            Framworks: Laravel, ASP.NET Core MVC, Django. <br>
            IDEs: Visual Studio Code, Visual Studio 2022, Pycharm. <br>
            Control Version: Git, GitHub, GitLab.
        </p>
    </div>
    <div class="col col-md-4">
        <p>
            Databases:
        </p>
        <p>
            SQLServer, MySql, PostgreSQL, Oracle Database.
        </p>
    </div>
</div>